* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Esta fuente es temporal, podemos cambiarla sin problema */
}

body.bodyRegistrarse {
    background-image: url('../img/fondolibros2.jpg');
    background-repeat: repeat;
}

.login-modal {
    width: 300px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    margin: 50px auto;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}


.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #3b0269;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.login-btn:hover {
    background-color: #d5afee;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.terminos {
    font-size: 0.8rem;
     display: flex;
    align-items: center;
     margin-bottom: 20px;
    .textoCheck{
    margin-left: 10px
     }  
}

.error-text {
        color: #ff0000;
        font-size: 0.8rem;
        margin-top:0px;
        margin-bottom: 10px;
}
button:disabled {
    background-color: #ccc;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #fff;
    text-decoration: none;
}


